<header>
    <div class="content">
        <a class="menu-btn fa-solid fa-bars"
           onclick="document.querySelector('header .content .pages').classList.toggle('active')"></a>
        <a href="/" class="logo" tabindex="1">
            <img src="/data/logo/SVG/logo2.svg" alt="logo">
        </a>
        <nav class="pages">
            <a href="/docs" class="page" tabindex="2">Документация</a>
            <a href="" class="page" tabindex="3">Мои ветки</a>
        </nav>
        <div class="other">
            <a href="https://github.com/furry-dev/comments.ruden.pro/" target="_blank" rel="noopener"
               class="link fa fa-brands fa-github" tabindex="4"></a>
        </div>
    </div>
</header>